services:
  postgres:
    image: postgres:latest
    container_name: dev-job-db-it
    environment:
      POSTGRES_DB: dev_job_test_db
      POSTGRES_USER: dev_job_test_user
      POSTGRES_PASSWORD: turnip
    ports:
      - "5431:5432"  # Host:Container (5431 exposed, Postgres still runs on 5432)
    volumes:
      - postgres_data_test:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - dev-irl-network
    restart: unless-stopped

volumes:
  postgres_data_test:

networks:
  dev-irl-network:
    external: true
