services:
  postgres:
    image: postgres:latest
    container_name: dev-job-container
    environment:
      POSTGRES_DB: dev_job_db
      POSTGRES_USER: dev_job_user
      POSTGRES_PASSWORD: turnip
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - dev-irl-network
    restart: unless-stopped

volumes:
  postgres_data_prod:

networks:
  dev-irl-network:
    external: true
